<%= form_for([@profile, @look]) do |f| %>
  <% if @look.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@look.errors.count, "error") %> prohibited this look from being saved:</h2>

      <ul>
      <% @look.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Look Title" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :caption, "Caption" %><br>
    <%= f.text_field :caption, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image_url, "Instagram URL" %><br>
    <%= f.text_field :image_url, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tags, "Tags" %><br>
    <%= f.text_field :tags, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
