<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <%= raw get_embedded_instagram(look.image_url) %>
    </div>
    <div class="col-md-7">
      <h3>
        <%= look.name %>
      </h3>

      <p style="font-style: italic;">
        <%= look.caption  %>
      </p>

      <p>
        <%= look.tags %>
      </p>
      <br>
      <div class="row">
        <% if !look.brow_shades.empty? %>
          <div class="type-shades col-xs-6">
            <p><strong>Brow Shades:</strong></p>
            <%= render partial: 'shades/shade_square_small', as: "shade_square", collection: look.brow_shades , locals: { look_id: look } %>
          </div>
        <% end %>
        <% if !look.eye_shades.empty? %>
          <div class="type-shades col-xs-6">
            <p><strong>Eye Shades:</strong></p>
            <%= render partial: 'shades/shade_square_small', as: "shade_square", collection: look.eye_shades , locals: { look_id: look } %>
          </div>
        <% end %>
        <% if !look.lip_shades.empty? %>
          <div class="type-shades col-xs-6">
            <p><strong>Lip Shades:</strong></p>
            <%= render partial: 'shades/shade_square_small', as: "shade_square", collection: look.lip_shades , locals: { look_id: look } %>
          </div>
        <% end %>
        <% if !look.face_shades.empty? %>
          <div class="type-shades col-xs-6">
            <p><strong>Face Shades:</strong></p>
            <%= render partial: 'shades/shade_square_small', as: "shade_square", collection: look.face_shades , locals: { look_id: look } %>
          </div>
        <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-12 text-center">
      <% if @home_page == "profile" && @profile_owner %>
        <%= link_to "Edit Shades", look_path(look) %> |
        <%= link_to "Edit Look", edit_look_path(look) %>  |
        <%= link_to "Delete", look_path(look), method: :delete %>
      <% end %>
    </div>
  </div>
</div>
<hr>
