
<div class="product-box">
	<div class="product-in-shade">
		<%= link_to image_tag(shade.product.photo_url), product_path(shade.product), method: :get %>
		<%= content_tag :div, "", style: "background-color: ##{shade.hex_color};", class: "product-shade" %>
	</div>
	<p><%= shade.product.name %></p>
	<p><%= shade.product.brand.name %></p>
	<p><%= shade.name %></p>
	<p class="finish"><%= shade.finish %></p>
</div>
