
<h1> Shades in this Color </h1>
<p style="text-align:center;"><%= @shade.product.brand.name %>: <%= @shade.name %></p>

<%= content_tag :div, "", style: "height: 100px; width: 100px; background-color: ##{@shade.hex_color}; margin-left: auto; margin-right: auto;" %>


<h2>Products With Matching Shades</h2>

<% if @spot_on_shades.count > 0 %>
	<%= render @spot_on_shades %>
<% else %>
	<p>The shade you chose is unique! It can't be found in any other product!</p>
<% end %>

<h2> Search products in similar colors </h2>

<% @close_call_colors.each do |color| %>
	<div style="display: inline-block;">
		<%= link_to content_tag(:div, "", style: "height: 100px; width: 100px; background-color: ##{color.hex};"), color_path(color) %>
		<%= color.shades.first.name %>
	</div>
<% end %> 


