
<div class="container-fluid shade-header" style="background-color: #<%= @shade.hex_color %>;">
	<div class="row">
		<div class="col-sm-6 text-center">
			<h1>Shades in this Color :</h1>
		</div>
		<div class="col-sm-6" style="color: <%= @shade.l < 50 ? "white" : "black" %>;">
			<p class="mobile-center"><%= @shade.product.brand.name %>: <%= @shade.name %></p>
		</div>
	</div>
</div>

<ol class="breadcrumb">
	<li><%= link_to "Back to Shades", shades_path %></li>
	<% if @controller == "products" %>
		<li><%= link_to "Back to #{@shade.product.name}", product_path(@shade.product) %></li>
	<% end %>
	<% if user_signed_in? && current_user.username == "administrator" %>
		<li>SHADE VIEWS: <%= @shade.views %></li>
	<% end %>
</ol>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 mobile-center">
			<h2><%= @shade.product.short_type.capitalize %> Products With Matching Shades</h2>
			<% if @spot_on_shades.any? %>
				<%= render @spot_on_shades %>
			<% else %>
				<p class="not-found">We are sorry! We couldn't find any other <%= @short_product_type %> shades in this color.</p>
			<% end %>
		</div>
		<% if @close_call_colors.any? %>
			<hr class="hidden-md hidden-lg">
			<div class="col-md-12 mobile-center">
				<h2>Other Products with Matching Shades</h2>
				<%= render @close_call_colors %>
			</div>
		<% end %>
	</div>
</div>

<% if !@shade.looks.empty? %>
	<div class="container-fluid">
		<h2>Looks that use <%= @shade.product.brand.name %>'s "<%= @shade.name %>"</h2>
		<div class="row">
			<%= render partial: 'looks/look_square', as: "look", collection: @shade.looks %>
		</div>
	</div>
<% end %>
