<div class="page-header">
	<h1>Colors</h1>
	<div class="line"></div>
</div>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
	  <button class="btn btn-default">
		  <%= link_to "Eyes", colors_path(:product_type => "Eyes"), remote: true %>
	  </button>
  </div>

  <div class="btn-group" role="group">
	  <button class="btn btn-default">
	    <%= link_to "Lips", colors_path(:product_type => "Lips"), remote: true %>
	  </button>
  </div>

  <div class="btn-group" role="group">
	  <button class="btn btn-default">
	    <%= link_to "Face", colors_path(:product_type => "Face"), remote: true %>
	  </button>
  </div>
</div>

<div id="colors-list">

	<div class="mobile-center">

		<% if @red_yellow_colors.any? %>
			<h2>Red-Orange Colors</h2>
				<%= render @red_yellow_colors %>
		<% end %>

		<% if @green_colors.any? %>
			<h2>Green Colors</h2>
			<%= render @green_colors %>
		<% end %>


		<% if @blue_colors.any?%>
			<h2>Blue Colors</h2>
			<% render @blue_colors %>
		<% end %>


		<% if @purple_pink_colors.any? %>
			<h2>Purple-Pink Colors</h2>
			<%= render @purple_pink_colors %>
		<% end %>

		<% if @pink_red_colors.any? %>
			<h2>Pink-Red Colors</h2>
			<%= render @pink_red_colors %>
		<% end %>
	</div>
</div>




	