
<div class="page-header">
	<h1><%= image_tag(@brand.logo_url) %></h1>
	<div class="line"></div>
</div>

<ol class="breadcrumb">
	<li><%= link_to 'Back to Brands', brands_path %></li>
	<% if logged_in? %>
		<li><%= link_to "EDIT BRAND", edit_brand_path(@brand) %></li>
		<li><%= link_to "DELETE BRAND", @brand, method: :delete %></li>
		<li><%= link_to "ADD PRODUCT", new_brand_product_path(@brand) %></li>
	<% end %>
</ol>

<div class="products-partial mobile-center">
	<%= render @brand.products %>
</div>
