
<div class="page-header">
	<h1><%= image_tag(@brand.logo_url) %></h1>
	<div class="line"></div>
</div>

<ol class="breadcrumb">
	<li><%= link_to 'Back to Brands', brands_path %></li>
	<% if user_signed_in? && current_user.username == "administrator" %>
		<li><%= link_to "EDIT BRAND", edit_brand_path(@brand) %></li>
		<li><%= link_to "DELETE BRAND", @brand, method: :delete %></li>
		<li><%= link_to "ADD PRODUCT", new_brand_product_path(@brand) %></li>
	<% end %>
</ol>
<div class="mobile-center list">
	<%= render @brand.products %>
</div>

<div class="text-center">
	<button class="btn btn-default btn-lg"><%= link_to "GO TO BRAND WEBSITE", @brand.website_url, target: "_blank" %></button>
</div>
