
<h1>Products</h1>

<%= form_tag({controller: "products", action: "index"}, method: "get", remote: true) do %>
	<%= label_tag(:q, "Search product by name:") %>
    <%= text_field_tag(:name) %>
    <%= submit_tag("Search") %>
<% end %>

<div id="products-list">
	<%= render @products %>
</div>


