<div class="page-header">
	<h1><%= link_to image_tag(@brand.logo_url), @brand %></h1>
	<div class="line"></div>
</div>

<ol class="breadcrumb">
	<li><%= link_to 'Back to All Products', products_path %></li>
	<li><%= link_to "Back to #{@brand.name} Products", brand_path(@brand) %></li>
		<% if logged_in? %>
			<li><%= link_to "EDIT", edit_product_path(@product) %></li>
			<li><%= link_to "DELETE", @product, method: :delete %></li>
			<li>PRODUCT VIEWS: <%= @product.views %></li>
		<% end %>
</ol>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<h2><%= @product.name %></h2>
			<div class="product-description">
				<p><%= @product.description %></p>
				<p><strong>Application:</strong> <%= @product.application %></p>
			</div>

			<%= image_tag(@product.photo_url, class: "product-photo") %>

			<p>
			  <strong>Price:</strong>
			  <%= format_price @product.price %>
			</p>
			<button class="btn btn-default btn-lg"><%= link_to "Buy Me", @product.direct_link, target: "_blank" %></button>
		</div>

		<div class="mobile-center col-md-4">
			<% if @product.shades.count > 0 %>
				<h3>Shades</h3>
				<% @shades.each do |shade| %>
					<div class="shades-index">
						<%= link_to content_tag(:div, "", style: "background-color: ##{shade.hex_color};", class: "shade-square"), product_shade_path(@product,shade) %>
						<p><%= shade.name %></p>
						<p class="finish"><%= shade.finish %></p>
						<% if logged_in? %>
							<%= link_to "Delete", [@product, shade], method: :delete %>
						<% end %>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


<% if logged_in? %>
	<h2>Add Shades</h2>
	<table>
    <thead>
      <th>Position</th>
      <th>Name</th>
      <th>Hex Color</th>
      <th>Finish</th>
      <th></th>
    </thead>
    <tbody>
    	<%= form_for([@product, @product.shades.new]) do |f| %>
    	<tr>
			<td><%= f.text_field :position %></td>
			<td><%= f.text_field :name %></td>
			<td><%= f.text_field :hex_color %></td>
			<td><%= f.text_field :finish %></td>
			<td><%= f.submit %></td>
		</tr>
		<% end %>
	</tbody>
	</table>
 <% end %>
<br>


<h2><%= @product.product_type %>s With Similar Colors</h2>
<p class="finish">*Ordered by closest match</p>
<div class="mobile-center">
	<% if @matching_products.count > 0 %>
		<% @matching_products.keys.each do |product| %>
			<% found_product = Product.find(product) %>
			<%= render found_product %>
		<% end %>
	<% else %>
		<p>The product you chose is unique! We couldn't find any other products like it.</p>
	<% end %>
</div>
