<div class="page-header">
	<h1>My Account</h1>
	<div class="line"></div>
</div>
<h2>Your Profile</h2>
<% if !@account.profile %>
  <p>Create a profile to share your make up looks!</p>
  <%= link_to "Create Profile", new_account_profile_path(@account), class: "btn btn-default" %>
<% else %>
	<ul>
		<li><%= link_to 'Create new look', new_profile_look_path(@account.profile) %></li>
		<li><%= link_to 'View your profile', profile_path(@account.profile) %></li>
		<li><%= link_to 'Edit your profile', edit_account_profile_path(@account.profile) %></li>
		<li><%= link_to 'Delete profile', @account.profile, method: :delete, data: { confirm: 'Are you sure?' } %></li>
	</ul>
<% end %>

<h2>Favorite Looks</h2>
<h2>Favotire Products </h2>
<h2>Favorite Shades</h2>
<% if user_administrator? %>
  <h2>Users</h2>
  <hr>
  <% @users.each do |user| %>
    <%= user.username %> <br>
    <%= user.email %>
    <hr>
  <% end %>
<% end %>
